<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong> Objectives:</strong>
<ul>
    <li>Insert title using H1 style heading</li>
    <li>List popular languages for Data Science</li>
    <li>Commonly used libraries by Data Scientist</li>
    <li>Perform arithmetic expression</li>
    <li>Convert minutes to hours</li>
</ul>

<h2> Author</h2>
Muskan

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Java</li>
    <li>Javascript</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
    <li>SciKit-Learn</li>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Tensorflow</li>
    <li>Keras</li>
    <li>Matplotlib</li>
    </ol>

<table>
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>RStudio</td>
</tr>
<tr>
<td>Apache Spark</td>
</tr>
<tr>
<td>Apache Hadoop</td>
</tr>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
hours= 200/60
print ("{0} hours".format(str(hours)))

3.3333333333333335 hours